$white: #ffffff;
$bodyColor: #f8f8f8;
$black: #454545;
$textColor: #A09B9B;
$purpleText: #745DFF;

.air-body {
    width: calc(100vw - 300px);
    height: 500px;
    background-color: $white;
    box-shadow: 0px 6px 16px -1px rgba(115, 108, 108, 0.45);
    -webkit-box-shadow: 0px 6px 16px -1px rgba(115, 108, 108, 0.45);
    -moz-box-shadow: 0px 6px 16px -1px rgba(115, 108, 108, 0.45);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    ul.sidebar {
        width: 80px;
        height: 100%;
        background-color: $bodyColor;

        li {
            list-style-type: none;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2em 1.5em;

            &:hover {
                background-color: $white;
            }

            svg {
                color: $textColor ;
                font-size: 2em;
            }
        }

        .special {
            background-color: $white;

            &:hover {
                background-color: $white;
            }

            svg {
                color: $purpleText ;
                font-size: 2em;
            }
        }

    }

    ._main {}
}